@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
.box {
	font-family: 'Open Sans', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.title,
.display {
	letter-spacing: .2em;
	color: #fff;
	font-weight: 900;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.title {
	font-size: 28px;
}

.display {
	font-size: 16px;
}
